 @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Urbanist:wght@100&display=swap');

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}




 body {
font-family: 'Urbanist', sans-serif;
}

header {
  background-color: rgb(217, 150, 62);
  color: white;
  overflow:auto;
  padding: 40px;
  border-bottom: 3px dotted rgb(120, 77, 19);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  text-align: right;
  width: 45%;
}

nav ul {
  padding: 0px;
}

.header_left { */
float: left;
 font-family: 'Pacifico', cursive;
width: 50%;
}

.header_right{
text-align: center;
width: 45%;
}

.header_left img {
  width: 50%;
  max-width: 125%;
  padding: 0px;
}

.navbar {
  list-style-type: none;
  padding-bottom: 0px;
  cursor: pointer;
  text-align: right;
  font-size: 13pt;
  display: flex;
  flex-direction: column;
  font-family: 'Urbanist', sans-serif;
} */

 .navbar li {
  display: inline-block; */
  padding-left: 85px;
  padding-right: 85px;
   padding-top: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar li a:hover {
  color: rgb(120, 77, 19);
}

/* footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(217, 150, 62);
  color: white;
  overflow: auto; */
  /* padding-top: 5px; */
  /* font-family: 'Urbanist', sans-serif; */
  /* height: 2.5rem;            /* Footer height */
/* } */

}
/* footer {
 position: absolute;
 bottom: 0;
 width: 100%;
} */

 h5
{
  font-size: 15pt;
  margin-bottom: 10px;
}

/* .footer_left { */
/* width: 30%; */
/* float: left; */
/* margin-top: 50px; */
/* margin-left: 20px; */
/* padding-top: 150px; */
}

/* .footer_right {
width: 60%;
float: right;
font-size: 11pt;
margin-bottom: 20px; */
/* padding-top: 0px; */
/* margin: inherit; */
 }

/* .footer_right h5 {
  font-family: 'Pacifico', cursive;
  color: rgb(120, 77, 19);
  margin-top: 20px;
} */

 .subheader h2 {
  color: rgb(120, 77, 19);
  font-family: 'Urbanist', sans-serif;
  letter-spacing: 4px;
  font-size: 55px;
  padding-top: 5px;
  width: 230px;
  margin: auto;
  padding-bottom: 5px;
  padding: 10px;
  display: inline;
}

.subheader {
  background-color: rgb(242, 200, 165);
  background-size: 50%;
  background-image opacity: 30%;
  text-align: center;
  border-bottom: 3px dotted rgb(120, 77, 19); */
  margin-bottom: 50px;
  font-family: 'Urbanist', sans-serif;
  color: rgb(120, 77, 19);
  font-size: 55px;


/* }

.contact_link {
  padding-bottom: 0px;
  cursor: pointer;
  font-family: 'Urbanist', sans-serif;
  color: white;
}

.contact_link:hover {
  color: rgb(120, 77, 19);
}

span {
  font-size: 15pt;
  font-weight: bolder;
  color: rgb(120, 77, 19);
/* } */

h3 {
  font-family: 'Pacifico', cursive;
  font-size: 20pt;
  color: rgb(217, 150, 62);

  text-align: center;
}



/* section { */
  /* background: #eee; */
  /* max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.module {
  width: 48%;
  min-height: 200px; */
  /* background: white; */
  /* position: relative; */
  /* float: left; */
  /* padding: 20px; */
  /* margin-right: 4%; */
  /* margin-bottom: 4%; */
  /* margin-left: auto;
  margin-right: auto;
  text-align: center; */
/* box-shadow: 15px 10px rgb(217, 150, 62); */
  /* &:nth-child(even) { */
    /* margin-right: 0; */
  }

}

/* img {
  margin-left: auto;
  margin-right: auto;
}

body {
  background: url(https://images.unsplash.com/photo-1563291074-2bf8677ac0e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1007&q=80);
  background-size: cover;


  padding: 30px;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
} */
