#div1 {
  background-color: red;
  color: blue;
  height: 100px;
  width: 300px;
  margin: auto;
}

#div2 {
  background-color: blue;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: inherit;
}

#div3 {
  background-color: green;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: inherit;
}

#div4 {
  background-color: yellow;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: inherit;
}
