@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Urbanist:wght@100&display=swap');

* {
  margin: 0;
}

body {
font-family: 'Urbanist', sans-serif;
}

header {
  /* background-color: rgb(217, 150, 62); */
  color: white;
  /* overflow:auto; */
  padding: 30px;
}

.header_left {
float: left;
font-family: 'Pacifico', cursive;
width: 20%;
}

.header_right{
float: right;
text-align: right;
width: 45%;
}

main {
  clear: both;
  height: 1000px;
}

footer {
  background-color: rgb(217, 150, 62);
  color: white;
  overflow: auto;
  padding-top: 5px;
}

/* .header_left img {
  width: 70%;
  padding: 0px;
} */

h5 {
  font-size: 15pt;
  margin-bottom: 10px;
}

.footer_left {
width: 30%;
float: left;
padding-top: 50px;
}

.footer_right {
width: 60%;
float: right;
font-size: 11pt;
padding-top: 10px;
}

.footer_right h5 {
  font-family: 'Pacifico', cursive;
  color: rgb(120, 77, 19);
  padding-top: 50px;
}

/* section h2 {
  text-align: center;
  color: rgb(120, 77, 19);
  font-family: 'Pacifico', cursive;
  font-size: 55px;
  text-decoration: overline;
  text-decoration-color: rgb(120, 77, 19);
  padding-top: 5px;
  width: 230px;
  margin: auto;
  padding-bottom: 0px;
  border-bottom: 5px solid rgb(120, 77, 19);
}

.subheader {
  background-image: url(https://images.unsplash.com/photo-1602536052359-ef94c21c5948?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2787&q=80);
  background-size: 50%;
  background-image opacity: 30%; */
}

.navbar {
  list-style-type: none;
  padding-bottom: 0px;
  cursor: pointer;
  text-align: center;
  font-size: 13pt;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.navbar li {
  display: inline-block;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 20px;
  width: 50%;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar li a:hover {
  color: rgb(120, 77, 19);
}

img {
  padding: 50px;
  width: 85%;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.site_header {

}
