@media only screen and (min-width:800px) {
  .logo {
    width: 50%;
  }
}

@media only screen and (max-width:400px) {
  .interests_column div {

    width: 35%;
    margin-bottom: 20px;
  }

  .interests_column {
    flex-direction: column;
    align-items: center;
  }

  .interests_column p {
    font-size: 1em;
  }

  .navbar {
    align-items: center;
    flex-direction: column;
  }
}
