#stcroix_beach {
  width:70%;
  display:block;
  margin: auto;
}

#stcroix_water {
  width: 70%;
  display: block;
  margin: auto;
}

#moko_jumbie {
  width: 70%;
  display: block;
  margin: auto;
}

#parade_dancers {
  width: 70%;
  display: block;
  margin: auto;
